@tailwind components;

@layer components {
  .panel {
    @apply border-2 border-neon bg-asphalt/80 shadow-neon rounded-none p-4;
  }

  .button-raw {
    @apply uppercase tracking-widest border-2 border-neon bg-coal text-neon px-4 py-2 transition hover:bg-neon hover:text-coal shadow-neon;
  }
}
